<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AquaTracker"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="org.n9ne.h2ohealthy.ui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="home"
                    android:scheme="h2ohealthy" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.n9ne.h2ohealthy.ui.AuthActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth"
                    android:scheme="h2ohealthy" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.n9ne.h2ohealthy.ui.ForgetActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="h2oforget"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <receiver android:name="org.n9ne.common.util.NotificationReceiver" />
    </application>

</manifest>